.icon {
  height: 1em;
  width: 1em;
  vertical-align: -0.125em;
  fill: currentColor;
}

.toast {
  --bs-bg-opacity: .90;
}

#qr {
  width: 20rem;
  max-width: 100%;
}

#camera-player,
#camera-overlay {
  object-fit: cover;
}
