{
	admin off
	auto_https off
	skip_install_trust

	pki {
		ca local
	}

	servers :3000 {
		listener_wrappers {
			http_redirect
			tls
		}
	}
}

:3000 {
	tls internal {
		on_demand
	}

	file_server browse
}
